<%- include('../partials/header') %> <% if (teams.length) { %> <%
teams.forEach(function(t) { %>
<div id="team-table">
  <div class="team-preview">
    <h2><%= t.name %></h2>
    <% t.members.forEach(function(m) { %>
    <img class="member-preview" src="<%= m.url %>" />
    <% }); %> <% if (!t.members.length) { %>
    <form
      class="delete-btn"
      action="/teams/<%= t._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete</button>
    </form>
    <% } else { %>
    <p class="delete-btn"><%= t.members.length %> Members</p>
    <% } %>
    <a class="button detail-btn" href="/teams/<%= t._id %>">See Details</a>
  </div>
  <% }); %> 
</div>
<% } else { %>
<h2>No Teams Yet</h2>
<% } %>
<a href="/<%= user._id %>/teams/new" class="button bottom-button">Create A Team</a>
<%- include('../partials/footer') %>
