<%- include('../partials/header') %>
<div id="team-table">
    <% if (teams.length) { %>
        <% teams.forEach(function(t) { %>
            <div class="team-preview">
                <h2><%= t.name %></h2>
                <% if (!t.members.length) { %>
                <a class="button delete-btn" href="#">Delete Team</a>
                <% } else { %>
                    <p class="delete-btn"><%= t.members.length %> Members</p>
                    <% } %>
                <a class="button detail-btn" href="/teams/<%= t._id %>">See Details</a>
            </div>
        <% }); %>
    <% } else { %>
        <h2>No Teams Yet</h2>
    <% } %>
</div>
<a href="/<%= user._id %>/teams/new">Create A Team</a>
<%- include('../partials/footer') %>